<div class="image-home">
    <app-card-primary
        primaryTitle="CyberPunk 2077"
        primaryDescription="Jogue agora com o Keanu Reeves!"
    >
    </app-card-primary>
</div>
<div class="home-container">
    <app-card
        gameCover="https://image.api.playstation.com/pr/bam-art/159/265/142dd38e-df8f-4663-823c-2d4d1a1bd3e4.jpg?w=440&thumb=false"    
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="https://image.api.playstation.com/pr/bam-art/163/945/3247ac35-8737-4e6f-9c6b-e7d617ab8de0.png?w=440&thumb=false"
        gameLabel="EXCLUSIVE" 
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/ac-cover.jpg"
        gameLabel="BEST OF YEAR" 
        gameType="DIGITAL | PS5"
        gamePrice="R$ 359,99"
    >
    </app-card>
    <app-card
        gameCover="https://image.api.playstation.com/pr/bam-art/162/102/be34b511-4d4e-4cc7-a48c-55d112c40d56.png?w=440&thumb=false"
        gameLabel="NEW" 
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 399,99"
    >
    </app-card>
    <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/161/541/132983c7-9156-467d-a9b0-e95a64ab6114.jpg?w=440&thumb=false"    
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/bt-4.jpg"
        gameLabel="EXCLUSIVE" 
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
    >
    </app-card>
    <app-card
        gameCover="https://image.api.playstation.com/pr/bam-art/163/145/ae13a8ef-c0d9-4ceb-bb18-328e71f87f05.jpg?w=440&thumb=false"
        gameLabel="BEST OF YEAR" 
        gameType="DIGITAL | PS5"
        gamePrice="R$ 359,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/bt-hardline.jpg"
        gameLabel="NEW" 
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 399,99"
    >
    </app-card>
</div>
