<div class="home-container">
    <app-card
        gameCover="assets/images/bt-1.jpg"    
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/bt-4.jpg"
        gameLabel="EXCLUSIVE" 
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/ac-cover.jpg"
        gameLabel="BEST OF YEAR" 
        gameType="DIGITAL | PS5"
        gamePrice="R$ 359,99"
    >
    </app-card>
    <app-card
        gameCover="assets/images/bt-hardline.jpg"
        gameLabel="NEW" 
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 399,99"
    >
    </app-card>
</div>
